In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(4,3), columns=['col1','col2','col3'])
print(df)
print(df['col1'].map(lambda x:x*100))
print(df.apply(np.mean))

       col1      col2      col3
0  0.855996  0.503596 -1.544779
1 -3.209809 -0.630409  1.478614
2  0.408873  1.232586 -0.112460
3  0.466347 -0.436086  0.908317
0     85.599596
1   -320.980927
2     40.887279
3     46.634674
Name: col1, dtype: float64
col1   -0.369648
col2    0.167422
col3    0.182423
dtype: float64

In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(2,3), columns=['col1','col2','col3'])
df1 = pd.DataFrame(np.random.randn(6,3), columns=['col1','col2','col3'])
print(df.reindex_like(df1))
print(df.reindex_like(df1, method='ffill'))

       col1      col2      col3
0  2.578143 -0.292989  0.187519
1 -0.185961 -0.718225 -0.293773
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
       col1      col2      col3
0  2.578143 -0.292989  0.187519
1 -0.185961 -0.718225 -0.293773
2 -0.185961 -0.718225 -0.293773
3 -0.185961 -0.718225 -0.293773
4 -0.185961 -0.718225 -0.293773
5 -0.185961 -0.718225 -0.293773

In [8]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(2,3), columns=['col1','col2','col3'])
df1 = pd.DataFrame(np.random.randn(6,3), columns=['col1','col2','col3'])
print(df.reindex_like(df1))
print(df.reindex_like(df1, method='nearest'))

       col1      col2      col3
0  0.317659 -0.975165  0.051221
1 -0.741170 -2.128843 -1.698389
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
       col1      col2      col3
0  0.317659 -0.975165  0.051221
1 -0.741170 -2.128843 -1.698389
2 -0.741170 -2.128843 -1.698389
3 -0.741170 -2.128843 -1.698389
4 -0.741170 -2.128843 -1.698389
5 -0.741170 -2.128843 -1.698389

In [9]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(2,3), columns=['col1','col2','col3'])
df1 = pd.DataFrame(np.random.randn(6,3), columns=['col1','col2','col3'])
print(df.reindex_like(df1))
print(df.reindex_like(df1, method='ffill', limit=1))

       col1      col2      col3
0 -0.412629 -0.326345 -0.473287
1  0.527306 -0.335745  1.252306
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
       col1      col2      col3
0 -0.412629 -0.326345 -0.473287
1  0.527306 -0.335745  1.252306
2  0.527306 -0.335745  1.252306
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN

In [15]:
#renaming
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
df1 = df.rename(columns={'col1':'c1','col2':'c2','col3':'c3'})
print(df1)

         c1        c2        c3
0 -2.008184  0.729186  1.520186
1  0.161181 -0.227607  0.302662
2  0.850871 -0.995178  0.078329
3  0.770489 -0.654912  0.854039

In [18]:
df = pd.DataFrame(np.random.randn(4,3), columns=['col1','col2','col3'])
for key,value in df.iteritems():
    print(key,value)

col1 0   -0.326507
1    0.167991
2    0.620884
3    2.057859
Name: col1, dtype: float64
col2 0   -1.261034
1   -1.055546
2    0.124450
3    1.017000
Name: col2, dtype: float64
col3 0   -1.178202
1    0.244753
2    0.290211
3    1.031996
Name: col3, dtype: float64

In [21]:
df = pd.DataFrame(np.random.randn(4,3), columns=['col1','col2','col3'])
for row_index,row in df.iterrows():
    print(row_index,row)

0 col1    0.264244
col2    0.968143
col3    1.859559
Name: 0, dtype: float64
1 col1    0.471331
col2   -0.412525
col3    1.274632
Name: 1, dtype: float64
2 col1    0.282245
col2   -1.002690
col3    0.273896
Name: 2, dtype: float64
3 col1    0.791645
col2    0.537883
col3    1.323388
Name: 3, dtype: float64

In [22]:
df = pd.DataFrame(np.random.randn(4,3), columns=['col1','col2','col3'])
for row in df.itertuples():
    print(row)

Pandas(Index=0, col1=0.4955690899048487, col2=0.048218055561426706, col3=1.535321145348925)
Pandas(Index=1, col1=-1.055684016955001, col2=-0.16247573246068558, col3=0.5064582955991666)
Pandas(Index=2, col1=1.3453313744058049, col2=0.539121266083893, col3=-0.31550657261775966)
Pandas(Index=3, col1=-0.25120995835729265, col2=1.675849507196769, col3=2.176995378489221)

In [27]:
#sorting
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame(np.random.randn(6,2), index=[1,4,3,2,0,7], columns=['col1','col2'])
print(unsorted_df)
sorted_df = unsorted_df.sort_index()
print(sorted_df)

       col1      col2
1  1.656009  1.468291
4 -0.788870 -1.409348
3  0.947524  1.077036
2 -1.063973  0.207747
0 -0.724432 -0.169267
7 -0.187447 -1.037011
       col1      col2
0 -0.724432 -0.169267
1  1.656009  1.468291
2 -1.063973  0.207747
3  0.947524  1.077036
4 -0.788870 -1.409348
7 -0.187447 -1.037011

In [28]:
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame(np.random.randn(6,2), index=[1,4,3,2,0,7], columns=['col1','col2'])
print(unsorted_df)
sorted_df = unsorted_df.sort_index(ascending=False)
print(sorted_df)

       col1      col2
1  0.599302  0.490561
4  0.183269 -1.529386
3 -0.796565  0.460051
2 -0.190730  0.142723
0 -0.156043 -0.775975
7  0.463116  0.801784
       col1      col2
7  0.463116  0.801784
4  0.183269 -1.529386
3 -0.796565  0.460051
2 -0.190730  0.142723
1  0.599302  0.490561
0 -0.156043 -0.775975

In [29]:
#sorting the columns
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame(np.random.randn(6,2), index=[1,4,3,2,0,7], columns=['col2','col1'])
print(unsorted_df)
sorted_df = unsorted_df.sort_index(axis=1)
print(sorted_df)

       col2      col1
1 -0.423794  0.666554
4  0.477945  1.205539
3  0.982513 -1.137445
2 -1.504439  2.865818
0  0.191565 -3.452501
7 -0.422712  0.111000
       col1      col2
1  0.666554 -0.423794
4  1.205539  0.477945
3 -1.137445  0.982513
2  2.865818 -1.504439
0 -3.452501  0.191565
7  0.111000 -0.422712

In [38]:
#sorting the rows
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame(np.random.randn(6,2), index=[1,4,3,2,0,7], columns=['col1','col2'])
print(unsorted_df)
sorted_df = unsorted_df.sort_index(axis=0)
print(sorted_df)

       col1      col2
1  0.985326  0.838594
4  2.040818 -0.968552
3  0.098138 -0.002425
2 -0.153320  0.603951
0  0.223309 -2.329711
7  0.051872 -0.572422
       col1      col2
0  0.223309 -2.329711
1  0.985326  0.838594
2 -0.153320  0.603951
3  0.098138 -0.002425
4  2.040818 -0.968552
7  0.051872 -0.572422

In [42]:
#sorting the values
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame({'col1':[2,0,1],'col2':[9,1,4]})
sorted_df = unsorted_df.sort_values(by=['col1','col2'])
print(sorted_df)

   col1  col2
1     0     1
2     1     4
0     2     9

In [43]:
#working with the text data by using diiferent common string functions
import pandas as pd
import numpy as np
df = pd.Series(['Tom','william rick','john','albert@t', np.nan,'1234','stevsmith'])
print(df)

0             Tom
1    william rick
2            john
3        albert@t
4             NaN
5            1234
6       stevsmith
dtype: object

In [47]:
#lower
print(df.str.lower())
print(df.str.upper())
print(df.str.len())

0             tom
1    william rick
2            john
3        albert@t
4             NaN
5            1234
6       stevsmith
dtype: object
0             TOM
1    WILLIAM RICK
2            JOHN
3        ALBERT@T
4             NaN
5            1234
6       STEVSMITH
dtype: object
0     3.0
1    12.0
2     4.0
3     8.0
4     NaN
5     4.0
6     9.0
dtype: float64

In [51]:
#strip
s = pd.Series(['Tom',  'mammooty',    'mahesh'])
print(s)
print(s.str.strip())

0         Tom
1    mammooty
2      mahesh
dtype: object
0         Tom
1    mammooty
2      mahesh
dtype: object

In [53]:
#split
print(s.str.split(' '))

0         [Tom]
1    [mammooty]
2      [mahesh]
dtype: object

In [54]:
#cat(sep=pattern)
print(s.str.cat(sep='_'))

Tom_mammooty_mahesh

In [55]:
#getdummies
print(s.str.get_dummies())

   Tom  mahesh  mammooty
0    1       0         0
1    0       0         1
2    0       1         0

In [57]:
#contains
print(s.str.contains(' '))

0    False
1    False
2    False
dtype: bool

In [60]:
#replace(a,b)
print(s.str.replace('T','S'))

0         Som
1    mammooty
2      mahesh
dtype: object

In [61]:
#repeat
print(s.str.repeat(2))

0              TomTom
1    mammootymammooty
2        maheshmahesh
dtype: object

In [62]:
#count(pattern)
print(s.str.count('s'))

0    0
1    0
2    1
dtype: int64

In [63]:
#startswith(pattern)
print(s.str.startswith('T'))

0     True
1    False
2    False
dtype: bool

In [64]:
#endswith
print(s.str.endswith('s'))

0    False
1    False
2    False
dtype: bool

In [65]:
#find(pattern)
print(s.str.find('s'))

0   -1
1   -1
2    4
dtype: int64

In [66]:
#findall(pattern)
print(s.str.findall('e'))

0     []
1     []
2    [e]
dtype: object

In [67]:
#swapcase
print(s.str.swapcase())

0         tOM
1    MAMMOOTY
2      MAHESH
dtype: object